<template>
  <span id="autosaveStatus">
    <b-toast auto-hide-delay="3000" toaster="b-toaster-top-center" id="my-toast" variant="info" no-fade no-close-button solid>
      <!-- <b-spinner small variant="primary" label="Busy"></b-spinner>&nbsp; -->
      <span class="text-primary">{{ message }}</span> <strong class="text-primary">{{ messageUpdate }}</strong>
    </b-toast>
  </span>
</template>

<script>
import HelperError from '@/Helpers/HelperError'

export default {
  name: 'CommonInterceptor',
  mixins: [
    HelperError
  ],
  data () {
    return {
      message: '',
      messageUpdate: '',
      green: false
    }
  },
  methods: {
    intercept () {
      this.axios.interceptors.request.use((config) => {
        return config
      }, (error) => {
        return Promise.reject(error)
      })
      // Add a response interceptor
      this.axios.interceptors.response.use((response) => {
        this.setMessage(response.config.method)
        this.show = true
        return response
      }, (error) => {
        this.errorHandler(error)
        return Promise.reject(error)
      })
    },
    async setMessage (method) {
      if (method === 'put' ||
          method === 'patch') {
        this.messageUpdate = `menyimpan perubahan!`
      } else if (method === 'post') {
        this.messageUpdate = ` wait a moment...`
      } else if (method === 'delete') {
        this.messageUpdate = `menghapus data!`
      }

      this.message = ` loading... `

      await this.$bvToast.show('my-toast')

      let timeout = setTimeout(() => {
        this.message = ''
        this.messageUpdate = ''
      }, 1000)

      clearTimeout(timeout)
    }
  },
  mounted () {
    this.intercept()
  }
}
</script>

<style>
#autosaveStatus {
  /* position: absolute; */
  padding: 2px;
  bottom: 0px;
  font-size: small;
}
</style>
